@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 16, 27, 59;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(16,27,59,1) 35%, rgba(108,189,230,1) 100%);
}
